<div class="sidenav">
  <div class="sidenav-buttons">
    <div class="pulse-icon">
      <a [routerLink]="['home']">
        <img src="../../assets/icons/pulse.png" alt="pulse" />
        <span>Pulse</span>
      </a>
    </div>
    <div>
      <a [routerLink]="['meetings']"
        ><img src="../../assets/icons/meetings.png" alt="meeeting" />
        <span>Meeting</span>
      </a>
    </div>
    <div>
      <a [routerLink]="['items']"
        ><img src="../../assets/icons/items.png" alt="items" />
        <span>Items</span>
      </a>
    </div>
    <div>
      <a [routerLink]="['actions']"
        ><img src="../../assets/icons/actions.png" alt="actions" />
        <span>Actions</span>
      </a>
    </div>
  </div>
</div>
<div class="nav-bar">
  <div class="nav">
    <div>
      <img src="../../assets/icons/focus logo.svg" alt="focus logo" />
    </div>
    <div
      [ngClass]="status ? 'show' : 'hide'"
      (click)="toggleDropdown()"
      [title]="notificationCount"
      class="notification-button"
    >
      <img
        *ngIf="dropdownState == 'closed'"
        src="../../assets/icons/notification1.png"
        alt="notification"
      />
      <img
        *ngIf="dropdownState == 'open'"
        src="../../assets/icons/notification2.png"
        alt="notification1"
      />
    </div>
  </div>
  <div
    tabindex="0"
    #myDiv
    class="dropdown-content"
    [@dropdown]="dropdownState"
    (blur)="hideDropdown()"
  >
    <button><span>Notification 1</span></button>
    <button><span>Notification 2</span></button>
  </div>
</div>
<div class="main">
  <div class="router">
    <router-outlet></router-outlet>
  </div>
</div>
