:root {
  --blue: #1495f0;
  --light-blue: #dceffd;
  --red: #ea4335;
  --light-red: #fce3e1;
  --orange: #ffb017;
  --light-orange: #ffefd1;
  --green: #5cb85c;
  --light-green: #def1de;
  --purple: ##efdcfb;
  --light-purple: #efdcfb;
  --black: #000000;
  --gray: #f2f2f6;
  --text-dark: #120c39;
  --text-light: #120c3980;
  --background:#FBFBFF;
}

@font-face {
  font-family: "metropolis";
  src: url(../../assets/fonts/metropolis.regular.otf) format("opentype");
}
