<div
  [ngStyle]="{
    'margin-right.px': isOpen ? 389 : 0,
    transition: 'margin-right 0.4s ease'
  }"
  class="container"
>
  <div class="sidebar" [@openClose]="isOpen ? 'open' : 'closed'">
    <div class="sidebar-content">
      <div class="sidebar-header">
        <h2>Calendar</h2>
        <img
          width="12px"
          height="12px"
          (click)="exit()"
          src="../../assets/icons/exit.png"
          alt=""
        />
      </div>
      <div class="sidebar-main">
        <ul>
          <div class="list" *ngFor="let i of calendarData">
            <li>
              {{ i.name }}
              <p>{{ i.date | date : "dd.MM.yyyy" }}</p>
            </li>
            <div *ngIf="i.status" class="dates-status">
              <h2>{{ i.status }}</h2>
            </div>
          </div>
        </ul>
        <div class="add-item">
          <h1>
            <span><img src="../../assets/icons/plus.png" alt="plus" /></span>
            Add New Item
          </h1>
        </div>
        <div class="form-container">
          <form>
            <div>
              <label for="name">Meeting Name</label>
              <input type="text" />
            </div>
            <div>
              <label for="date">Date</label>
              <input type="text" />
              <img src="../../assets/icons/calendar.png" alt="calendar" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="header">
    <h2>Waiting your Action</h2>
    <img
      (click)="toggleSidebar()"
      src="../../assets/icons/arrow.png"
      alt="arrows"
    />
  </div>
  <div class="tabs-list">
    <div class="cards-container">
      <div class="cards">
        <app-card *ngFor="let i of cards" [data]="i"></app-card>
      </div>
      <div class="item-button">
        <button (click)="openFormDialog()">+ Quick item</button>
      </div>
    </div>
  </div>
  <div class="section-1">
    <table>
      <tr class="table-head">
        <th>Date</th>
        <th colspan="2">Title</th>
        <th>Business Unit</th>
        <th
          [ngClass]="{ 'sidebar-open': isOpen }"
          [style.transition]="'0.4s ease-in'"
          [style.width]="'350px'"
        >
          With User
        </th>
        <th [style.width]="'150px'">Delay</th>
        <th [style.width]="'200px'">Status</th>
      </tr>
      <tbody *ngFor="let i of table">
        <div class="separator"></div>
        <tr class="table-data">
          <span
            [style.background-color]="setColor(i.status, false)"
            class="decoration"
          ></span>
          <td>
            <div class="container-date">
              <div>
                <p
                  [ngClass]="{ 'sidebar-open-dates': isOpen }"
                  [style.color]="setColor(i.status, false)"
                  class="month"
                >
                  {{ i.date | date : "MMM" }}
                </p>
                <p
                  [ngClass]="{ 'sidebar-open-dates': isOpen }"
                  [style.color]="setColor(i.status, false)"
                  class="day"
                >
                  {{ i.date | date : "d" }}
                </p>
              </div>
              <hr class="vertical" />
            </div>
          </td>
          <td>{{ i.title }}</td>
          <td>{{ i.businessUnit }}</td>
          <td class="profile-container">
            <hr class="vertical" />
            <span class="placeholder" *ngIf="!i.userImg">--</span>
            <img
              *ngIf="i.userImg"
              src="../../assets/img/{{ i.userImg }}.png"
              alt="profile-pic"
            />
          </td>
          <td [ngClass]="{ 'sidebar-delay-td': isOpen }" class="delay">
            <hr class="hide-hr" [ngClass]="{ 'sidebar-table-hr ': isOpen }" />
            <span
              [ngClass]="{ 'sidebar-delay': isOpen }"
              *ngIf="i.status == 'Rejected'"
            >
              {{ i.delay }}</span
            >
          </td>
          <td class="status">
            <button class="eye" (click)="openDialog()">
              <img src="../../assets/icons/eye.png" alt="eye" />
            </button>
            <button
              [style.background-color]="setColor(i.status, true)"
              [style.color]="setColor(i.status, false)"
              class="status-button"
            >
              {{ i.status }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="section-2">
    <div [ngClass]="{ 'sidebar-boards': isOpen }" class="board-container">
      <app-board
        [boardClass]="boardClass"
        [boardData]="tasks"
        [header]="'Tasks you initiated'"
        [subHeader]="'Stay tuned with tasks you initiated'"
      ></app-board>
      <app-board
        [boardClass]="boardClass"
        [boardData]="actions"
        [header]="'Overdue Actions'"
        [subHeader]="'You`re late, hurry up!'"
      ></app-board>
    </div>
  </div>
</div>
<app-dialog *ngIf="dialogOpen" title="Quick View" (closed)="dialogOpen = false">
  <div class="quick-view">
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book. It has survived not only five centuries, but
      also the leap into electronic typesetting, remaining essentially
      unchanged. It was popularised in the 1960s with the release of Letraset
      sheets containing Lorem Ipsum passages, and more recently with desktop
      publishing software like Aldus PageMaker including versions of Lorem
      Ipsum.
    </p>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book. It has survived not only five centuries, but
      also the leap into electronic typesetting, remaining essentially
      unchanged. It was popularised in the 1960s with the release of Letraset
      sheets containing Lorem Ipsum passages, and more recently with desktop
      publishing software like Aldus PageMaker including versions of Lorem
      Ipsum.
    </p>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book. It has survived not only five centuries, but
      also the leap into electronic typesetting, remaining essentially
      unchanged. It was popularised in the 1960s with the release of Letraset
      sheets containing Lorem Ipsum passages, and more recently with desktop
      publishing software like Aldus PageMaker including versions of Lorem
      Ipsum.
    </p>
  </div>
</app-dialog>
<app-dialog
  (submitted)="submitForm()"
  *ngIf="dialogFormOpen"
  title="Create Quick Item"
  (closed)="dialogFormOpen = false"
>
  <div>
    <form
      novalidate
      class="item-form"
      [formGroup]="quickItemForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="itemTitle">
        <label for="">Item Title</label>
        <br />
        <input formControlName="itemTitle" type="text" />
      </div>
      <p
        class="error"
        *ngIf="this.q['itemTitle'].errors?.['required'] && showError"
      >
        Item Title is required.
      </p>
      <div class="type-unit-container">
        <div>
          <label for="">Type</label>
          <br />
          <input formControlName="type" type="text" />
          <br />
          <p
            class="error"
            *ngIf="this.q['type'].errors?.['required'] && showError"
          >
            Type is required.
          </p>
        </div>
        <div>
          <label for="">Business Unit</label>
          <br />
          <input formControlName="businessUnit" type="text" />
          <br />
          <p
            class="error"
            *ngIf="this.q['businessUnit'].errors?.['required'] && showError"
          >
            Business Unit is required.
          </p>
        </div>
      </div>
      <div class="type-unit-container">
        <div>
          <label for="">Due Date</label>
          <input formControlName="dueDate" type="text" />
          <p
            class="error"
            *ngIf="this.q['dueDate'].errors?.['required'] && showError"
          >
            Due Date is required.
          </p>
        </div>
        <div>
          <label for="">Priority</label>
          <input formControlName="priority" type="text" />
          <p
            class="error"
            *ngIf="this.q['priority'].errors?.['required'] && showError"
          >
            Priority is required.
          </p>
        </div>
      </div>
      <div class="form-buttons">
        <div class="radio-container">
          <label>
            Job Title
            <div>
              <input
                formControlName="jobTitle"
                value="Marketing Coordinator"
                type="radio"
              />
              <span>Marketing Coordinator</span>
            </div>
          </label>
          <label>
            <div>
              <input
                formControlName="jobTitle"
                value="Web Designer"
                type="radio"
              />
              <span>Web Designer</span>
            </div>
          </label>
          <label>
            <div>
              <input
                formControlName="jobTitle"
                value="President of Sales"
                type="radio"
              />
              <span>President of Sales</span>
            </div>
          </label>
        </div>
        <div class="checkbox-container">
          Languages
          <div *ngFor="let data of options; let i = index">
            <input
              type="checkbox"
              [value]="data"
              (change)="onCheckboxChange($event)"
            />
            <label for="">{{ data }}</label>
          </div>
        </div>
      </div>
      <div class="errors-box">
        <p
          class="error"
          *ngIf="this.q['jobTitle'].errors?.['required'] && showError"
        >
          Job Title is required.
        </p>
        <p
          class="error"
          *ngIf="this.q['languages'].errors?.['required'] && showError"
        >
          Language is required, select atleast one value.
        </p>
      </div>
      <div [style.margin-top]="'6px'">
        <label for="">Objective</label>
        <textarea
          formControlName="objective"
          name=""
          id=""
          cols="30"
          rows="10"
        ></textarea>
      </div>
      <p
        class="error"
        *ngIf="this.q['objective'].errors?.['required'] && showError"
      >
        Objective is required.
      </p>
    </form>
    
  </div>
</app-dialog>
