@use "../../shared/styles/mixins" as m;

* {
  font-family: "metropolis", sans-serif;
  color: var(--text-dark);
}

.header {
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 17px;

  img {
    position: fixed;
    z-index: 0;
    right: 0;

    &:hover {
      cursor: pointer;
    }
  }
  h2 {
    @include m.text(14px, "normal", 500, 14px);
  }
}

.cards-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 52px;
  .cards {
    display: flex;
    gap: 15px;
  }

  .item-button {
    button {
      background-color: var(--blue);
      border-radius: 5px;
      width: 120px;
      height: 30px;
      border: none;

      @include m.text(14px, "normal", 500, 12px);
      color: white;

      &:hover {
        cursor: pointer;
        background: white;
        color: var(--blue);
        border: 1px solid var(--blue);
      }
    }
  }
}

.section-1 {
  padding-bottom: 62px;
  table {
    width: 100%;
    height: 32px;
    @include m.text(11px, "normal", 500, 12px);
    border-collapse: collapse;
    border-radius: 5px;
    text-align: left;
    .table-head {
      background-color: var(--gray);
      height: 32px;
    }

    th:not(:first-of-type) {
      padding-left: 25px;
    }
    td:not(:first-of-type) {
      padding-left: 25px;
    }

    th:first-of-type {
      padding-left: 10px;
    }

    .table-data {
      border: 0.5px solid #e9e9e9;
      height: 80px;
      background-color: white;

      .container-date {
        display: flex;
      }

      td {
        @include m.text(14px, "normal", 500, 12px);

        p {
          width: 30px;
          margin-left: -55px;
          margin-right: 0px;
        }

        .month {
          margin-top: 15px;
          @include m.text(10px, "normal", 500, 10px);
        }
        .day {
          @include m.text(18px, "normal", 500, 18px);
        }
      }
    }

    .profile-container {
      img {
        margin-left: 19px;
        width: 46px;
        height: 46px;
      }
    }

    .delay {
      span {
        @include m.text(12px, "normal", 400, 12px);
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        height: 20px;
        border-radius: 20px;
        background-color: rgb(234, 67, 53, 0.15);
        color: var(--red);
      }
    }

    .status {
      .eye {
        width: 30px;
        height: 30px;
        text-align: center;
        background-color: white;
        border: 1px solid #dedede;
        border-radius: 4px;
        margin-right: 15px;

        &:hover {
          cursor: pointer;
        }
      }

      .status-button {
        width: 92px;
        height: 30px;
        border-radius: 4px;
        border: none;
      }
    }

    .placeholder {
      @include m.text(12px, "normal", 400, 12px);
      color: #cfcfcf;
      margin-left: 35px;
      position: absolute;
      top: 50%;
    }
  }

  .vertical {
    height: 54px;
    display: inline-block;
    border: 0.7px dashed #cfcfcf;
  }

  .decoration {
    display: block;
    margin-top: 22px;
    height: 35px;
    width: 6px !important;
    border-radius: 0px 4px 4px 0px;
    background-color: gray;
  }

  .separator {
    height: 8px;
  }
}

.section-2 {
  .board-container {
    display: flex;
    justify-content: space-between;
  }
}

.hide-hr {
  display: none;
}

.sidebar {
  position: fixed;
  top: 50;
  right: -344px;
  width: 344px;
  height: calc(100vh - 50px);
  background-color: #ffffff;
  z-index: 1;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 5px;
  .sidebar-header {
    margin-left: 24px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 19px;

    h2 {
      @include m.text(14px, "normal", 400, 14px);
    }

    img {
      cursor: pointer;
      pointer-events: auto;
    }
  }

  .sidebar-main {
    margin-top: 38px;
    margin-left: 39px;
    margin-right: 20px;

    ul {
      list-style: none;
      li::before {
        content: "•";
        color: #51abff;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        font-size: 16px;
        margin-left: -1em;
      }

      li {
        @include m.text(12px, "normal", 400, 12px);
        color: #787878;
        padding-top: 14px;
      }

      p {
        @include m.text(12px, "normal", 500, 12px);
        margin-top: 5px;
        color: var(--blue);
      }
    }

    .list {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .dates-status {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fd688c33;
        width: 65px;
        height: 17px;
        border-radius: 14px;
        h2 {
          @include m.text(12px, "normal", 500, 12px);
          color: #fd688c;
        }
      }
    }

    .add-item {
      margin-top: 22px;
      margin-left: -1em;
      h1 {
        display: flex;
        gap: 11px;
        align-items: center;
        @include m.text(12px, "normal", 500, 12px);
        color: #787878;
      }
    }

    .form-container {
      margin-top: 17px;
      margin-right: 20px;
      margin-left: -1em;
      label {
        color: var(--text-dark);
        @include m.text(12px, "normal", 500, 16.5px);
      }

      input {
        margin-bottom: 20px;
        border: 1px solid #88859c;
        border-radius: 3px;
        height: 30px;
        width: 301px;
      }
      div {
        position: relative;
      }
      img {
        position: absolute;
        top: 47.5%;
        right: -10px;
        transform: translateY(-50%);

        cursor: pointer;
      }
    }
  }
}

.sidebar-open {
  width: 175px !important;
  transition: 0.4s ease-in-out;
}

@media screen and (max-width: 1750px) {
  .sidebar-open-dates {
    padding-left: 20px !important;
  }
}

@media screen and (max-width: 1600px) {
  .table-data {
    p {
      margin-left: -35px !important;
      padding-right: 55px;
    }
  }
}
@media screen and (max-width: 1650px) {
  .sidebar-boards {
    gap: 26px;
  }
}
@media screen and (max-width: 1500px) {
  .sidebar-table-hr {
    height: 54px;
    display: inline-block;
    border: 0.7px dashed #cfcfcf;
  }

  .sidebar-open {
    width: 100px !important;
  }

  .sidebar-delay-td {
    padding-left: 10px !important;
  }

  .sidebar-open-dates {
    padding-left: 15px !important;
  }

  .sidebar-delay {
    position: absolute;
    margin-left: 25px;
    top: 50%;
  }
}
